$--border-color-lighter: #EBEEF5 !default;

$--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;

$--color-white: #FFFFFF !default;
$--color-text-primary: #303133 !default;

$--card-border-color: $--border-color-lighter !default;
$--card-border-radius: 4px !default;
$--card-padding: 20px !default;
